
<h1>Me llamo {{nombre}}, trabajo en este proyecto</h1>
<h3>¿Te puedo ayudar?</h3>

<ul><h3>habilidades</h3>
    {{#each tareas}}
   <li>Se hacer: '{{this}}'</li>   
{{/each}}
</ul>

{{#if isAdmin}}
   
<button>ingresar</button>
{{else}}
      <p>  no valido  </p>
   
{{/if}}

     
   